@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
        font-family: "Roboto Condensed", sans-serif;
        background-color: #ffb861;
}
.menu-cont{
        width: 100%;
        height: 100px;
        position: fixed;
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 25px;
        top: 0px;
        left: 0;
        z-index: 10;
}
.menu-cont a{
        text-decoration: none;
        color: black;
}

.katalog{
        display: grid;
        margin-top: 50px;
        grid-template-columns: repeat(3, 400px);
        gap: 100px;
        justify-content: center;
}
.reasons{
        display: grid;
        grid-template-columns: repeat(3, 400px);
        gap: 100px;
        justify-content: center;
}
.card{
        height: 600px;
        background-color: orange;
        padding: 20px;
        border: solid 2px;
        border-radius: 30px;
}
.card-flex{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
.reason{
        height: 600px;
        background-color: orange;
        text-align: center;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: solid 2px;
        border-radius: 30px;
}
.logo{
        display: flex;
        align-items: center;
}

.logo-big-cont{
        height: 580px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: -300px;
        flex-direction: column;
}

.logo-big{
        position: relative;
        
}

.text-logo-big{
        font-size: 40px;
        font-weight: bold;
}

.title{
        position: absolute;
        left: 75px;
}
.img_menu{
        position: absolute;
        width: 60px;
        height: 70px;
        left: 10px;
}
.title-center{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
}
.text_cont{
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        margin-top: 100px;
}
.text_blocks{
        display: flex;
        gap: 10px;
        justify-content: center;
}
.block_text{
        width: 600px;
        height: 400px;
        background-color: aqua;
}
.block_one{
        position: relative;
}
.block_two{
        position: relative;
        top: 100px;
        right: 500px;
}
.block_three{
        position: relative;
        top: 200px;
        right: 1000px;
}
.text_text{
        width: 500px;
        position: absolute;
        font-size: 50px;
        right: 700px;
        bottom: -350px;
}

.center{
        display: flex;
        justify-content: center;
}

.link-products{
        text-decoration: none;
}

.btn-products-cont{
        width: 300px;
        height: 100px;
        background-color: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid 5px rgb(192, 125, 0);
        margin-top: 100px;
        font-size: 25px;
        text-decoration: none;
        color: black;
}

footer{
        width: 98.8%;
        height: 300px;
        background-color: orange;
        margin-top: 100px;
        border-radius: 30px;
        padding-left: 30px;
        padding-top: 10px;
        font-size: 20px;
}

/* about */

.text-about-cont{
        margin-top: 100px;
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
}

.text-about{
        width: 800px;
        background-color: orange;
        border-radius: 30px;
        padding: 10px;
        border: solid 2px;
}

/* contact */

.contacts-text-cont{
        width: 100%;
        display: flex;
        justify-content: center;
}

.contacts-text{
        font-size: 18px;
        text-align: center;
}